# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.amarelo-shop.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\parancibia\Desktop\Personal\CoderHouse\ReactJs\project\amarelo-shop\.idea\.idea.amarelo-shop.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
